@import '../../partials/typography';
@import '../../partials/mixins';
@import '../../partials/variables';

.video-description{
    //positioning
    text-align: left;

    @include tablet{
        display: flex;
        flex-direction: column;
        padding-inline-start: 2.4rem;
        padding-inline-end: 2.4rem;
    }        
    @include desktop{
        //positioning
        padding-inline-start: 0;
        padding-inline-end: 0;
        width: 60%;
        margin-right: 2.4rem;
    }

    //font stuff
    font-family: 'Avenir';

    &__title{
        //positioning
        padding-left: 1.6rem;
        margin-top: 3.2rem;
        margin-bottom: 0;

        //font
        font-size: $mobile-header;

        @include tablet{
            //font stuff
            font-size: $header;
            padding: 0;
        }
    }

    &__info{
        //positioning
        display: flex;
        margin: 0 1.6rem;
        flex-wrap: wrap;
        margin-top: 1.6rem;
        padding-bottom: 2.4rem;

        //font stuff
        font-size: $mobile-subheader;

        //pretty stuff
        border-bottom: 1px solid $mercury;

        @include tablet{
            //font stuff
            font-size: $subheader;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__channel{
        //font stuff
        font-weight: 500;
        margin-right: 8px;
        margin-top: 0;

        @include tablet{
            //positioning
            margin-bottom: 0;
        }
    }

    &__timestamp{
        //positioning
        width: 50%;
        margin-top: 0;

        //font stuff
        color: $silver;

        @include tablet{
            //positioning
            margin-bottom: 0;
            width: 20rem;
        }
    }

    &__views{
        //positioning
        margin-right: 2.4rem;
        margin-bottom: 0;

        @include tablet{
            //positioning
            margin-top: 0;
            margin-left: auto;
        }
    }

    &__likes{
        //positioning
        margin-bottom: 0;

        @include tablet{
            //positioning
            margin-top: 0;
        }
        
        @include desktop{
            //position
            margin-right: 3.2rem;
        }
    }

    &__info-icon{
        //positioning
        margin-right: .8rem;

        //shape
        height: 1.6rem;
    }

    &__description{
        //positioning
        padding-inline-start: 1.6rem;
        padding-inline-end: 1.6rem;
        padding-top: 2.4rem;
        margin-top: 0;

        //font stuff
        font-size: $mobile-paragraph;
        line-height: 22px;

        @include tablet{
            //positioning
            width: 75%;
            padding-left: 0;

            //font stuff
            font-size: $paragraph;
        }

        @include desktop{
            
        }
    }
}