@import './partials/variables';
@import './partials/mixins';
@import './partials/typography';

*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-size: 10px;
}

.app-ui{
  @include desktop{
    position: relative;
    padding-inline-start: 18rem;
    padding-inline-end: 18rem;
  }
}

