@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.rec-vids{
    //positioning
    text-align: left;
    padding-inline-start: 1.6rem;
    padding-inline-end: 1.6rem;

    //font stuff
    font-family: 'Avenir';

    @include tablet{
        padding-inline-start: 2.4rem;
        padding-inline-end: 2.4rem;
    }
    
    @include desktop{
        position: absolute;
        right: 0;
        top: 0;
        padding-inline-start: 0;
        padding-inline-end: 18rem;
        width: 40%;
    }

    &__title{
        //positioning
        margin: 4rem 0;

        //font stuff
        font-size: $mobile-label;
        font-weight: 500;
        color: $silver;
    }

    &__rec-vid{
        //positioning and shape
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 2.4rem;
    }

    &__link{
        text-decoration: none;
        color: initial;
    }

    &__vid-thumbnail{
        //positioning and shape
        width: 12rem;
        height: 7rem;
        margin: 0;
        padding: 0;
        display: inline-block;

        //pretty stuff
        border-radius: 3px;
    }

    &__vid-title{
        //positioning
        display: inline-block;
        margin: 0;
        position: absolute;
        left: 13rem;

        //font stuff
        text-overflow: ellipsis;
        font-size: $mobile-subheader;
    }

    &__vid-channel{
        //positioning
        display: inline-block;
        margin: 0;
        position: absolute;
        left: 13rem;
        top: 4.5rem;

        //font stuff
        text-overflow: ellipsis;
        font-size: $mobile-subheader;
        font-weight: 400;
    }
}