//colors
$black: #323232;
$brainflix-blue: #0095FF;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabastor: #FAFAFA;

//font sizes
$mobile-header: 2.4rem;
$mobile-subheader: 1.4rem;
$mobile-paragraph: 1.3rem;
$mobile-label: 1.3rem;
$header: 3.6rem;
$subheader: 1.6rem;
$paragraph: 1.4rem;